@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@400;700&family=Lexend+Mega:wght@400;700&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Global Colors */
  --primary-bg: #333333;
  --primary-color: #fff;
  --accent-color: #ecd9b9;
  --button-bg: #ecd9b9;
  --button-text: #ca6d3c;
  --border-color: #ca6d3c;
  --hover-color: #c38156;

  /* Font Styles */
  --font-family: "Kantumruy Pro", sans-serif;
  --font-family2: "Lexend Mega", sans-serif;
  --font-size-base: 16px;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--primary-color);
  background-color: var(--primary-bg);
}

/* Reset & Utility */
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 1rem;
}

/* Header styling */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg);
  padding: 20px 40px;
  color: var(--accent-color); /* Light gold color */
}

.logo .home-link {
  text-decoration: none; /* Remove underline from link */
  color: inherit; /* Keep the color the same as the parent */
}

.main-header .logo h1 {
  font-family: "Lexend Mega", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
}

.main-nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.main-nav ul li a {
  font-family: "Lexend Mega", sans-serif;
  color: var(--accent-color);
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

.main-nav ul li a:hover {
  color: #c38156; /* Add hover effect */
}

/* Newsletter Footer Styles */
.newsletter-footer {
  background-color: var(--primary-bg);
  color: var(--primary-color);
  padding: 40px;
}

.newsletter-heading {
  text-align: center;
  color: var(--accent-color);
  font-size: 18px;
  margin-bottom: 30px;
  font-family: var(--font-family2);
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family2);
}

.newsletter-form label {
  color: var(--accent-color);
  margin-bottom: 5px;
}

.newsletter-form input[type="text"],
.newsletter-form input[type="email"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  background-color: transparent;
  color: var(--primary-color);
  font-size: 16px;
}

.newsletter-form .checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--border-color);
}

.newsletter-form input[type="checkbox"] {
  margin-right: 10px;
}

.signup-button {
  background-color: var(--button-bg);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--button-text);
  cursor: pointer;
}

.signup-button:hover {
  background-color: var(--hover-color);

  color: #333333;
}
/* Footer Bottom Section */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  border-top: 1px solid rgba(236, 217, 185, 0.43);
  padding-top: 20px;
}

.address {
  color: var(--accent-color);
}

/* Social Links */
.social-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.social-link {
  color: #f0e7d8;
  font-size: 38px;
  text-decoration: none;
}

.social-link:hover {
  color: var(--hover-color);
}
