---
import MainLayout from "../layouts/MainLayout.astro"
import Hero from "../components/Hero.astro"
import Card from "../components/Card.astro";
---

<MainLayout title="Hjem" >
	<Hero 
    imageSrc="/images/hero1.jpg" 
    title="28. August - 30. August 2025" 
    text="3 days of house, disco and techno in the woods." 
    text2="Karrusel takes place at a secluded green spot on Refshaleøen in central Copenhagen. 30+ artists across 3 stages."
  	/>
	  <section class="categories-section">
        <h2>Explore Our Categories</h2>
        <div class="line"></div> <!-- Line between header and categories -->

        <div class="categories-grid">
            <Card title="KARRUSEL 2025" imageSrc="/images/karrusel25.jpg" href="/lineup" alt="Karrusel 2025" />
            <Card title="LATEST NEWS" imageSrc="/images/latestnews.jpg" href="/news" alt="Latest News" />
            <Card title="GALLERY" imageSrc="/images/Gallery.jpg" href="/" alt="Gallery" />
            <Card title="FAQ" imageSrc="/images/FAQ.jpg" href="/tickets" alt="FAQ" />
            <Card title="VOLUNTEER" imageSrc="/images/Volunteer.jpg" href="/" alt="Volunteer" />
            <Card title="ABOUT" imageSrc="/images/about.jpg" href="/" alt="About" />
        </div>

        <div class="line"></div> <!-- Line after categories -->
    </section>
</MainLayout>