---
// Header.astro component
const { currentPage } = Astro.props;
---
<header class="main-header">
    <div class="logo">
        <a href="/" class="home-link">
            <h1>KARRUSEL</h1>
          </a>
    </div>
    <div class="burger-menu">
        <span>&#9776;</span> <!-- Burger icon -->
      </div>
    
    <nav class="main-nav">
      <ul>
        <li><a href="/lineup" class={currentPage === "/lineup" ? "current-page" : ""}>LINE UP 2025</a></li>
        <li>/</li>
        <li><a href="/tickets" class={currentPage === "/tickets" ? "current-page" : ""}>TICKETS</a></li>
        <li>/</li>
        <li><a href="/news" class={currentPage === "/news" ? "current-page" : ""}> NEWS</a></li>
      </ul>
    </nav>
  </header>

  <script src="../js/burger.js"></script>