<header>
    <nav class="header-nav">
      <div class="logo">
        <img src="/path/to/logo.svg" alt="Karussel Logo" />
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/artists">Artists</a></li>
        <li><a href="/news">News</a></li>
      </ul>
    </nav>
  </header>